
.bookCard {display:flex; text-align: left; margin: 0 auto; max-width: 1000px;}
.bookCard .cover {
    width: 450px;
    margin-bottom: 12px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, .15), 0 8px 16px rgba(0, 0, 0, .04);
}
.bookCard .cover img {
    width: 100%;
}
.bookCard .description {
    margin: 0 0 0 54px;
}
.bookCard .bookName {
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
}
.bookCard .authorBook {
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0 0;
}
.bookCard .annotation{}
.bookCard .annotation p {
    font-size: 16px;
    line-height: 24px;
}